body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--accent-color),
    var(--secondary-color)
  );
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: 300% 300%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
